  *{margin: 0;padding: 0;text-decoration: none;list-style: none;}

body{background-color: #FF006F}

header{
  width: 100%;
  height: 149px;
  background-color: #FF006F;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100%;
  height: 56px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 580px;
  border: 0px solid pink;
  display: flex;
  align-items: center;
}
nav > .menu > ul{}
nav > .menu > ul > li{
  float: left;
  margin: 0px 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1.5px;
}
nav > .menu > ul > li > a{color: purple}
nav > .menu > ul > li > a:hover{color: #FF006F}

.bg{
  width: 100%;
  height: 630px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg1{background-image: url('img/00_02_bg.png');}
.bg2{background-image: url('img/00_03_bg.png');}
.bg3{background-image: url('img/00_04_bg.png');}
.bg4{background-image: url('img/00_05_bg.png');}
.bg5{background-image: url('img/00_06_bg.png');}

.bg6{background-image: url('img/01_00_bg.png');}
.bg7{background-image: url('img/02_00_bg.png');}
.bg8{background-image: url('img/03_00_bg.png');}
.bg9{background-image: url('img/04_00_bg.png');}

.bg_ext{display: flex;justify-content: center;align-items: center;}

.tit1{
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{width: 100%;height: 157px;background-color: #FF006F;display: flex;justify-content: center;align-items: center;}
.f_wrap{width: 1024px;height: 126px;border: 0px solid blue;display: flex;justify-content: space-between;align-items: center;}
.f_left{display: inline-block;width: 200px;height: 126px;border: 0px solid green;}
.f_right{display: inline-block;width: 400px;height: 27px;border: 0px solid green;font-family: 'Noto Sans KR', sans-serif;font-size: 18px;font-weight: 200;letter-spacing: -1.5px;color: #FFFFFF;text-align: right;}

.bt{transform: scale(1.0);transition: 0.5s;}
.bt:hover{transform: scale(1.1);transition: 0.5s;}


/*---sub01----*/
.sub01_top{width: 100%;height: 875px;background-position: center;background-size: cover;display: flex;justify-content: center;align-items: center;}
.sub01_cont{width: 100%;height: 1340px;background-color: white;display: flex;justify-content: center;}
.sub01_cont_wrap{width: 1920px;height: 1343px;border: 0px solid blue;background-image: url('img/01_03.png');}
.sub01_cont_wrap img{padding-left: 321px;padding-top: 126px;}

/*---sub02----*/
.sub02_top{width: 100%;height: 875px;background-position: center;background-size: cover;display: flex;justify-content: center;align-items: center;}
.sub02_cont{width: 100%;height: 12423px;background-color: white;display: flex;justify-content: center;}
.sub02_cont_wrap{width: 1920px;height: 12423px;border: 0px solid blue;background-image: url('img/02_02.png');}
.sub02_cont_wrap img{padding-left: 321px;padding-top: 126px;}

/*---sub03----*/
.sub03_top{width: 100%;height: 875px;background-position: center;background-size: cover;display: flex;justify-content: center;align-items: center;}
.sub03_cont{width: 100%;height: 13081px;background-color: white;display: flex;justify-content: center;}
.sub03_cont_wrap{width: 1920px;height: 13081px;border: 0px solid blue;background-image: url('img/03_02.png');}
.sub03_cont_wrap img{padding-left: 321px;padding-top: 126px;}

/*---sub04----*/
.sub04_top{width: 100%;height: 875px;background-position: center;background-size: cover;display: flex;justify-content: center;align-items: center;}
.sub04_cont{width: 100%;height: 10553px;background-color: white;display: flex;justify-content: center;}
.sub04_cont_wrap{width: 1920px;height: 10553px;border: 0px solid blue;background-image: url('img/04_02.png');}
.sub04_cont_wrap img{padding-left: 321px;padding-top: 126px;}
